*
!*.*
!*/
!README
!INSTALL
!NEWS
!COPYING
!AUTHORS
!ChangeLog
!Doxyfile
*.[oa]
*~
*.l[oa]
Makefile
.deps
.libs
configure
.autotools
.pydevproject
aclocal.m4
autom4te.cache/
config.h
config.log
config.status
config/config.guess
config/config.sub
config/depcomp
config/ltmain.sh
config/compile
.kde4/
*.kdev4
.directory
libtool
m4/l*
stamp-h1
.cproject
.project
.vscode
.settings/
doc/doxygen/*
*.pyc
build/
retentive.db

