*.[oa]
*.in
*~
*.l[oa]
Makefile
.deps
.libs
configure
aclocal.m4
autom4te.cache/
config.h
config.log
config.status
config/config.guess
config/config.sub
config/depcomp
config/ltmain.sh
libtool
m4/l*
stamp-h1

