--This is the configuration file for the OpenDAX Lua interpreter module
--It is basically a Lua script itself

root="/src/opendax/modules/daxlua/"

--init is the script that is run once when the program launches
initscript = root.."init.lua"

verbosity = 10 --needs to change to the new way

s = {}

s.name = "demo1"
s.enable = true
s.filename = root.."demo1.lua"
s.rate = 1000

add_script(s)

s.name = "demo2"
s.filename = root.."demo2.lua"
s.rate = 2200
add_script(s)
