-- Example configuration file for the OpenDAX historical logging module

plugin = "plugins/file/libdhl_file.so"

directory = "logs"

-- The add_tag() function adds a tag to be logged

attrib = "fit=LINEAR"

add_tag("tag1", CHANGE, 10.0, attrib)
add_tag("tag2", WRITE, 0.03, attrib)

