-- Main configuration file for the OpenDAX system

--Set to 'false' to run OpenDAX in the foreground
daemonize = false

--Verbosity can be set from 0 to 8
verbosity = 10

--statustag = "_status"

--pidfile = "/var/run/opendax.pid"

modroot = "/Users/phil/svn/opendax/branches/0.2/modules/"

m = {}

m.startup   = 1
m.restart   = false
m.openpipes = false

m.name      = "test"
m.path      = modroot.."test/daxtest"

add_module(m)

m.name      = "modbus"
m.path      = modroot.."modbus/modbus"
m.args      = "-C /Users/phil/opendax/etc/modbus.conf"

--add_module(m)

