-- Main configuration file for the OpenDAX tag server

-- Configuration files that are common for all programs
dofile(configdir .. "/log.conf")
--dofile(configdir .. "/common.conf")

statustag = "_status"
